.idea/
.project
.pydevproject
.settings

web/staticfiles/*
logs/*
data/mariadb/data/*
data/rabbitmq/mnesia/*

*.pyc
__pycache__
db.sqlite3

!web/staticfiles/.gitkeep
!logs/.gitkeep
!data/mariadb/data/.gitkeep
!data/rabbitmq/mnesia/.gitkeep
