{% extends "admin/change_list.html" %}

{% block extrahead %}
    <style>
        .bar-chart {
            display: flex;
            justify-content: space-around;
            height: 160px;
            padding-top: 50px;
            overflow: hidden;
            background-color: #f9f9f9;
        }

        .bar-chart .bar {
            flex: 100%;
            align-self: flex-end;
            margin-right: 2px;
            position: relative;
            background-color: #79aec8;
        }

        .bar-chart .bar:last-child {
            margin: 0;
        }

        .bar-chart .bar:hover {
            background-color: #417690;
        }

        .bar-chart .bar .bar-tooltip {
            position: relative;
            z-index: 999;
        }

        .bar-chart .bar .bar-tooltip {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }

        .bar-chart .bar:hover .bar-tooltip {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block content_title %}
    <h1>News Item Metrics</h1>
{% endblock %}

{% load percent_of %}

{% block result_list %}
<div class="results">
    <table>
        <thead>
            <tr>
                <th><div class="text"><a href="#">Class</a></div></th>
                <th><div class="text"><a href="#">Count (initial)</a></div></th>
                <th><div class="text"><a href="#"><strong>% of total (initial)</strong></a></div></th>
            </tr>
        </thead>
        <tbody>
            <tr class="row1">
                <td>Positive</td>
                <td>{{ classification_supervised.positive }} ({{ classification_initial.positive }})</td>
                <td>
                    <strong>{{ classification_supervised.positive | default:0 | percent_of:news_items_count }}</strong>
                    ({{ classification_initial.positive | default:0 | percent_of:news_items_count }})
                </td>
            </tr>
            <tr class="row2">
                <td>Negative</td>
                <td>{{ classification_supervised.negative }} ({{ classification_initial.negative }})</td>
                <td>
                    <strong>{{ classification_supervised.negative | default:0 | percent_of:news_items_count }}</strong>
                    ({{ classification_initial.negative | default:0 | percent_of:news_items_count }})
                </td>
            </tr>
            <tr class="row">
                <td>Unclassified</td>
                <td>{{ news_items_unclassified }}</td>
                <td><strong>{{ news_items_unclassified | default:0 | percent_of:news_items_count }}</strong></td>
            </tr>
            <tr style="font-weight: bold; border-top: 2px solid #DDDDDD;">
                <td>Total</td>
                <td>{{ news_items_count }}</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>

    <br /><br /><br />

    <h2>Accuracy over time</h2>

    <div class="results">
        <div class="bar-chart">
        {% for x in accuracy %}
            <div class="bar" style="height: {{ x.accuracy }}%">
                <div class="bar-tooltip">
                    {{ x.accuracy }}%<br />
                    {{ x.added_at }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
