{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1>News Item Metrics</h1>
{% endblock %}

{% load percent_of %}

{% block result_list %}
<div class="results">
    <table>
        <thead>
            <tr>
                <th><div class="text"><a href="#">Class</a></div></th>
                <th><div class="text"><a href="#">Count</a></div></th>
                <th><div class="text"><a href="#"><strong>% Of Total</strong></a></div></th>
            </tr>
        </thead>
        <tbody>
            {% for row in classification_metrics %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>
                        {% if row.score < sentiment_polarity_threshold %}
                            Negative
                        {% elif row.score > sentiment_polarity_threshold %}
                            Positive
                        {% elif row.score == null %}
                            Unclassified
                        {% else %}
                            Other
                        {% endif %}
                    </td>
                    <td>{{ row.total }}</td>
                    <td>
                        <strong>
                            {{ row.total | default:0 | percentof:classification_metrics_total.total }}
                        </strong>
                    </td>
                </tr>
            {% endfor %}
            <tr style="font-weight: bold; border-top: 2px solid #DDDDDD;">
                <td>Total</td>
                <td>{{ classification_metrics_total.total }}</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
